.messageItem {
    & > .item {
        display: flex;
        font-size: 15px;
        margin: 1rem 0.5rem;
        line-height: 21px;
        position: relative;

        & .img,
        & .tmpImg {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;

            @media screen and (max-width: 600px) {
                width: 2rem;
                height: 2rem;
            }
        }

        & .tmpImg {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eceef3;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin-right: 16px;

            @media screen and (max-width: 600px) {
                width: 2rem;
                height: 2rem;
                margin-right: 8px;
            }
        }

        & .content_box {
            display: flex;
            flex-direction: column;
            max-width: 80%;

            & .name {
                color: grey;

                @media screen and (max-width: 600px) {
                    font-size: 12px;
                }
            }

            & .text {
                display: inline-block;
                position: relative;
                border-radius: 5px;
                word-wrap: break-word;
                word-break: break-all;
                padding: 7px 11px 8px;
                -webkit-user-select: text;
                user-select: text;
            }
        }
    }

    &.left {
        & .img {
            margin-right: 16px;

            @media screen and (max-width: 600px) {
                margin-right: 8px;
            }
        }

        & .text {
            background-color: #eceef3;

            &:before {
                content: '';
                background-image: url('https://raw.githubusercontent.com/chite/dct_project/master/ig/assets/leftEdge.PNG');
                position: absolute;
                top: 0;
                left: -7px;
                width: 8px;
                height: 8px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
        }
    }

    &.right {
        & > .item {
            flex-direction: row-reverse;
            margin-right: 24px;

            & .img,
            & .tmpImg {
                display: none;
            }

            & .name {
                display: none;
            }

            & .text {
                background-color: var(--line-green);

                &:before {
                    content: '';
                    background-image: url('https://raw.githubusercontent.com/chite/dct_project/master/ig/assets/rightEdge.PNG');
                    position: absolute;
                    top: 0;
                    right: -7px;
                    width: 8px;
                    height: 8px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
            }
        }
    }
}

.msgManageItem {
    display: flex;
    gap: 8px;

    .deleteMsgItem {
        width: fit-content;
        padding: 0;
        .icon {
            width: 20px;
        }
    }

    .form__input {
        &.drop {
            width: max-content;
        }

        .content {
            font-size: 14px;
        }

        .drop__container {
            .msgCharactor.alert {
                color: var(--alert);
            }

            .option{
                padding: 8px 16px;
            }
        }
    }
}
