/* stylelint-disable selector-class-pattern  */
/* stylelint-disable value-no-vendor-prefix     */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Noto Sans JP', 'Noto Sans TC', sans-serif;
    background-color: #d3dae2;
}

body {
    margin-bottom: calc(50px + env(safe-area-inset-bottom));
}

.room_bg {
    display: inline-flex;
    justify-content: space-between;
    width: 70vw;
    flex-direction: column;
    align-content: space-between;
    position: relative;
    height: -webkit-fill-available;

    @media screen and (max-width: 600px) {
        width: -webkit-fill-available;
    }

    & > .room_content_overlay {
        top: 0;
        bottom: 0;
        position: absolute;
        height: 100vh;
        width: 100%;
        /* max-width: 990px; */
        background-color: white;
    }

    & > .room_header {
        // width: 100vw;
        /* max-width: 990px; */
        // position: fixed;
        top: 0;
        box-shadow: 0 -1px white;
        z-index: 4;
        transition: top 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        background: #464e65;
        box-sizing: border-box;
        min-height: 56px;

        & > .room_header_left {
            display: flex;
            align-items: center;
            font-size: 1rem;

            & > img {
                margin: 0 8px;
                height: 32px;
                cursor: pointer;
            }

            & > .room_name {
                color: white;
                font-weight: 500;
            }
        }

        & > .room_header_right {
            display: flex;
            align-items: center;
            margin-right: 4px;
            cursor: not-allowed;

            & > img {
                height: 28px;
                margin: 0 4px;
            }

            #questionBtn {
                display: none;
                @media screen and (max-width: 600px) {
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }

    & > .room_content {
        position: fixed;
        top: 56px;
        width: inherit;
        /* max-width: 990px; */
        z-index: 2;
        height: calc(100% - 112px);
        overflow: overlay;

        & > .noticeArea {
            display: none;
            background: white;
            height: 0;
            padding: 0;
            transition: all 0.5s ease;
            overflow: hidden;

            &.active {
                height: 42px;
                padding: 6px;
            }
        }

        & > .messageArea {
            position: relative;
            border-radius: 8px;
            overflow: overlay;

            & > #message {
                position: relative;
                overflow: overlay;
                padding: 4px 0;
                flex-direction: column;
                padding-bottom: 30px;
                height: -webkit-fill-available;
                background-color: white;

                &.active {
                    height: calc(100% - 300px);
                }
            }
        }
    }

    & > .bottomArea {
        // position: fixed;
        z-index: 3;
        bottom: 0;
        display: flex;
        align-items: center;
        /* max-width: 990px; */
        background-color: white;
        border-top: 1px solid #d3d3d3;
        font-size: 1.5rem;
        // width: 100vw;
        box-sizing: border-box;
        height: 56px;

        & > .function {
            display: flex;
            align-items: center;
            width: -webkit-fill-available;
            cursor: not-allowed;

            & > img {
                height: 28px;
                margin: 0 4px;
            }

            & > .text {
                padding: 4px 16px;
                border: 1px solid #d3d3d3;
                color: #d3d3d3;
                border-radius: 20px;
                width: 100%;
            }
        }

        & > .prev,
        .next {
            display: flex;
            align-items: center;
            margin-left: auto;
            cursor: not-allowed;

            & > img {
                margin: 0 8px;
                height: 50px;
                width: 50px;
                opacity: 0.5;
            }

            &.active {
                cursor: pointer;
                transition: all 0.3s ease;

                & > img {
                    opacity: 1;
                }
            }
        }

        & > .prev {
            & > img {
                transform: rotate(180deg);
            }
        }
    }
}

.room_question {
    position: absolute;
    width: calc(100% - 70vw);
    height: -webkit-fill-available;
    right: 0;
    display: inline-flex;
    background-color: oldlace;
    box-sizing: border-box;
    transition: all 0.3s ease;

    @media screen and (max-width: 600px) {
        display: none;
        opacity: 0;
        &.active {
            display: initial;
            width: calc(100%);
            z-index: 9;
            transition: all 0.3s ease;
            opacity: 1;
        }
    }

    .wrapper {
        width: -webkit-fill-available;
        padding: 14px 8px;
        height: -webkit-fill-available;
        overflow: overlay;

        .blockTitle {
            height: 56px;
            color: var(--function);

            @media screen and (max-width: 600px) {
                display: flex;
                justify-content: space-between;
            }
            & > #closeQA {
                display: none;
                @media screen and (max-width: 600px) {
                    display: flex;
                    background-color: var(--alert);
                    border-radius: 50%;
                    height: 20px;
                    padding: 4px;
                    cursor: pointer;
                }
            }
        }

        .congrats {
            display: none;
            &.active {
                display: flex;
                justify-content: space-around;
                font-size: 1.2rem;
            }
        }

        .function_button {
            display: flex;
            width: -webkit-fill-available;
            margin-top: 16px;
        }
    }
}

#quickView {
    cursor: pointer;
    .modalWrapper {
        cursor: default;
        max-width: calc(100% - 128px);
        max-height: calc(100% - 64px);

        .middle {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            img {
                max-height: 80vh;
                max-width: 100%;
            }
        }
    }
    .icon {
        position: absolute;
        right: -40px;
        top: 0;
        width: 32px;
        cursor: pointer;
        border-radius: 8px;

        &:hover {
            background-color: var(--function);
        }
    }
}
